body {
	background-color: #f1f1f1;
	font-family: "Lucida Console";
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1%;
	color: white;
	margin: 0;
}

#fixed_outer {
	width: 70%;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#page_container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-top: 20px;
	color: black;
}

#home {
	display: block;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 50px;
	padding-left: 15px;
	margin-top: 15px;
	border-bottom: none;
}
#home_inner {
	height: 100%;
	display: inline-flex;
}
#home_inner a  {
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	text-decoration: none;
}
#home_button {
	display: inline-flex;
	width: 135px;
	height: 50px;
	background-color: rgb(0,0,40);
	text-align: center;
	transition: 0.3s;
}
#home_button div {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 15px;
}

#header {
	width: 70%;
	min-width: 800px;
	height: 250px;
	background-color: rgb(0,0,40);
	margin-left: auto;
	margin-right: auto;
}
#header div {
	display: inline-block;
	position: relative;
	left: 50%;
	top: 125px;
	transform: translate(-50%, -70px);
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
#header div img {
	width: 65px;
	height: 65px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	bottom: 25%;
	transform: translate(0, 25%)
}
#header div h1 {
	display: inline-block;
	font-weight: normal;
	font-size: 45px;
	text-align: center;
}

.text_section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
	background-color: white;
}
.section_title {
  font-size: 26px;
  position: relative;
  top: -88px;
  left: 35px;
  padding: 25px;
  width: fit-content;
	background-color: white;
}
.section_title_alternate {
	font-size: 26px;
  position: relative;
	float: right;
  top: -88px;
  right: 35px;
  padding: 25px;
  width: fit-content;
	background-color: white;
}
.section_content {
  display: inline-block;
  padding: 25px;
  width: 50%;
}
.section_content_alternate {
  display: inline-block;
  /*margin-top: -45px;*/
	margin-top: auto;
	margin-bottom: auto;
  padding: 25px;
  width: 50%;
	float: right;
}
.section_content p {
  line-height: 1.5em;
  float: left;
	font-size: 16px;
}
.section_content_alternate p {
	line-height: 2em;
	font-size: 25px;
}
.section_image {
  display: inline-block;
  width: 40%;
	height: auto;
  float: right;
  padding-right: 10px;
	margin-top: 30px;
}
.section_image_alternate {
	display: inline-block;
  width: 40%;
  float: left;
	margin-top: 100px;
}
